<section class="profile-nav alt green-border ">
    <section class="wrapper ">
        <div>
            <section class="panel col-lg-10 col-lg-offset-1">
                <header class="panel-heading">
                    <h4>Create IcoList</h4>
                </header><br>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">logoPath</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="logoPath" placeholder="请选择图片">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">icoName</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="icoName" placeholder="icoName">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">status</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="statuss" placeholder="0: archived; 1: upcoming; 2: live">
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">status:</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="statuss" ng-options="x for (x,y) in selectStatus"></select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">isRecommended</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="isRecommended" placeholder="0: not Recommended; 1: Recommended">
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">isRecommended:</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="isRecommended" ng-options="x for (x,y) in selectisRecommended"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">startDate</label>
                            <div class="col-lg-10 ">
                                <input type="text" class="form_datetime1 form-control" ng-model="startDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">endDate</label>
                            <div class="col-lg-10 ">
                                <input type="text" class="form_datetime2 form-control" ng-model="endDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">description</label>
                            <div class="col-lg-10">
                                <textarea type="text" cols="60" rows="5" class="form-control" placeholder="Introduction" ng-model="description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">lastModifyDate</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="lastModifyDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">lastModifyUser</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="lastModifyUser">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-danger" ng-click="createIcoList()">Create </button>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-danger" ui-sref="CCAdmin.createIcoDetails">下一步 </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-danger" ui-sref="CCAdmin.createIcoDetails" ng-click="nextPage()">下一步session </button>
                            </div>
                        </div> -->
                        <!--<div class="form-group">
                                <label class="col-lg-2 control-label">Select:</label>
                                <div class="col-lg-10">
                                    <select class="form-control" ng-model="seclect" ng-options="x for x in host" ng-change="host()"></select>
                                </div>
                            </div>-->

                    </form>
                </div>
            </section>
        </div>
    </section>
</section>
<script type="text/javascript">
    $(".form_datetime1").datetimepicker({
        format: "yyyy-mm-dd - hh:ii",
        autoclose: true,
        showMeridian: true,
        todayBtn: true,
        startDate: "2013-02-14 10:00",
        minuteStep: 10,
        pickerPosition: "left-bottom"
    });
    $(".form_datetime2").datetimepicker({
        format: "yyyy-mm-dd - hh:ii",
        autoclose: true,
        showMeridian: true,
        todayBtn: true,
        startDate: "2013-02-14 10:00",
        minuteStep: 10,
        pickerPosition: "left-bottom"
    });

</script>