<section class="profile-nav alt green-border ">
    <section class="wrapper ">
        <div>
            <section class="panel col-lg-10 col-lg-offset-1">
                <header class="panel-heading">
                    <h4>Create Banner</h4>
                </header><br>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="name" placeholder="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">path</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="path">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">location</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="location" placeholder="0: top 1; 1:top2; 2:bottom;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">status</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="statuss" placeholder="0: offline; 1: online">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">startDate</label>
                            <div class="col-lg-10">
                                <!-- <input type="text" class="form-control" ng-model="startDate"> -->
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions"
                                        ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-success" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">endDate</label>
                            <div class="col-lg-10">
                                <!-- <input type="text" class="form-control" ng-model="endDate"> -->
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions"
                                        ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-success" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">lastModifyDate</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="lastModifyDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">lastModifyUser</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="lastModifyUser">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">isDeleted</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="isDeleted" placeholder="0:表示存在，1:表示删除">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-danger" ng-click="createBanner()">Create </button>
                            </div>
                        </div>
                        <!--<div class="form-group">
                                <label class="col-lg-2 control-label">Select:</label>
                                <div class="col-lg-10">
                                    <select class="form-control" ng-model="seclect" ng-options="x for x in host" ng-change="host()"></select>
                                </div>
                            </div>-->

                    </form>
                </div>
            </section>
        </div>
    </section>
</section>