<header class="header white-bg">
    <a class="logo"><i class="fa fa-navicon"></i> &nbsp;CCAdmin&nbsp;</a>
</header>

<aside id="sidebar" class="nav-collapse" toggle-menu>
    <ul class="sidebar-menu">
        <li class="active">
            <a ui-sref="CCAdmin.home">
          <i class="fa fa-home"></i><span>Home</span>
      </a>
        </li>
        <li class="sub-menu">
            <a>
          <i class="fa fa-user"></i><span>Accounts</span><span class="arrow"></span>
      </a>
            <ul class="sub">
                <li><a ui-sref="app.accountsList">Account List</a></li>
                <li><a ui-sref="app.creatAccount">Create Accounts</a></li>
                <li><a ui-sref="app.getBalance">Get Balance</a></li>
                <li><a ui-sref="app.chargeAccount">Charge Account</a></li>
                <li><a ui-sref="app.registerAccounts">Register Accounts</a></li>
                <li><a ui-sref="app.registerAccountsList">Register Accounts List </a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a>
          <i class="fa fa-database"></i><span>Data Provider</span><span class="arrow"></span>
      </a>
            <ul class="sub">
                <li><a ui-sref="app.provideData">Provide Data</a></li>
                <li><a ui-sref="app.provideDataList">Data List</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a>
          <i class="fa fa-upload"></i><span>Data Requester</span><span class="arrow"></span>
      </a>
            <ul class="sub">
                <li><a ui-sref="app.requestData">Requeste Data</a></li>
                <li><a ui-sref="app.requestDataList">Data List</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a><i class="fa fa-search"></i><span>Data Search</span><span class="arrow"></span>
      </a>
            <ul class="sub">
                <li><a ui-sref="app.data">Data List</a></li>
                <li><a ui-sref="app.search">Search Data</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a><i class="fa fa-group"></i><span>Data Managements</span><span class="arrow"></span>
      </a>
            <ul class="sub">
                <li><a ui-sref="app.personalDataList">Personal Data List</a></li>
                <li><a ui-sref="app.personalDataControl">Provide Data control</a></li>
            </ul>
        </li>
    </ul>
</aside>

<section id="main-content">
    <div class="wrapper">
        <div ui-view='content'></div>
    </div>
    <footer class="text-center">
        <p>©️ 2017 CCAdmin 码以科技</p>
    </footer>
</section>