<header class="header white-bg">
    <a class="logo"><i class="fa fa-navicon"></i> &nbsp;CCAdmin&nbsp;</a>
</header>

<aside id="sidebar" class="nav-collapse" toggle-menu>
    <ul class="sidebar-menu">
        <li class="active">
            <a ui-sref="CCAdmin.home">
          <i class="fa fa-home"></i><span>Home</span>
      </a>
        </li>
        <li class="sub-menu">
            <a>
          <i class="fa fa-user"></i><span>Banner</span><span class="arrow"></span>
      </a>
            <ul class="sub">
                <li><a ui-sref="CCAdmin.createBanner">Create Banner</a></li>
                <li><a ui-sref="CCAdmin.showBanner">Show Banner</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a>
          <i class="fa fa-database"></i><span>IcoList</span><span class="arrow"></span>
      </a>
            <ul class="sub">
                <li><a ui-sref="CCAdmin.createIcoList">Create IcoList</a></li>
                <li><a ui-sref="CCAdmin.showIcoList">Show IcoList</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a>
          <i class="fa fa-database"></i><span>IcoDetails</span><span class="arrow"></span>
      </a>
            <ul class="sub">
                <li><a ui-sref="CCAdmin.createIcoDetails">Create IcoDetails</a></li>
                <li><a ui-sref="CCAdmin.showIcoDetails">Show IcoDetails</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a>
          <i class="fa fa-upload"></i><span>EventList</span><span class="arrow"></span>
      </a>
            <ul class="sub">
                <li><a ui-sref="CCAdmin.createEventList">Create EventList</a></li>
                <li><a ui-sref="CCAdmin.showEventList">Show EventList</a></li>
            </ul>
        </li>
        <!--<li class="sub-menu">
            <a><i class="fa fa-search"></i><span>Data Search</span><span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a ui-sref="app.data">Data List</a></li>
                <li><a ui-sref="app.search">Search Data</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a><i class="fa fa-group"></i><span>Data Managements</span><span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a ui-sref="app.personalDataList">Personal Data List</a></li>
                <li><a ui-sref="app.personalDataControl">Provide Data control</a></li>
            </ul>
        </li>-->
    </ul>
</aside>

<section id="main-content">
    <div class="wrapper">
        <div ui-view='content'></div>
    </div>
    <footer class="text-center">
        <p>©️ 2017 CCAdmin 码以科技</p>
    </footer>
</section>